<div *ngIf="ProgramFromList" class="card w-200">
    <div class="card-body">

        <p class="fw-bold"> Program Name : </p>{{ProgramFromList.prog}}
        <p class="fw-bold"> Date Fin : </p>{{ProgramFromList.DATD}}
        <p class="fw-bold"> Heure début : </p>{{ProgramFromList.heurd}}
        <p class="fw-bold"> Heure Fin : </p>{{ProgramFromList.heurf}}
        <p class="fw-bold"> Durée d'exécution : </p>{{ProgramFromList.duree}}







    </div>
</div>

<!-- <div class="card w-200">
    <div class="card-body">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            <h4 id="scrollspyHeading1">First heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading2">Second heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading3">Third heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading4">Fourth heading</h4>
            <p>...</p>
            <h4 id="scrollspyHeading5">Fifth heading</h4>
            <p>...</p>
        </div>
    </div>
</div> -->